# Configuration de l'Environnement

# Environnement de Node.js
NODE_ENV=production

# Backend
BACKEND_HOST=backend
BACKEND_PORT=8002

# Frontend
FRONTEND_PORT=3002

# MySQL (si vous l'ajoutez à l'avenir)
# MYSQL_ROOT_PASSWORD=1234
# MYSQL_DATABASE=testdb
# MYSQL_USER=user
# MYSQL_PASSWORD=password
